@font-face {
    font-family: 'Gothampro';
    src: url('../../fonts/gothampro-light-webfont.woff2') format('woff2'),
         url('../../fonts/gothampro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gothampro';
    src: url('../../fonts/gothampro-lightitalic-webfont.woff2') format('woff2'),
         url('../../fonts/gothampro-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Gothampro';
    src: url('../../fonts/gothampro-bold-webfont.woff2') format('woff2'),
         url('../../fonts/gothampro-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}